#carousel,
#carousel2 {
  background-color: var(--gray-lighter);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 4rem 0rem;
}

#carousel2 {
  background-color: #ffffff;
}

.swiper {
  width: 1320px;
  height: 550px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: var(--primary-gray);
  height: 10px;
  width: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: var(--primary-gray);
  color: white;
  border-radius: 40px;
  width: 40px;
  height: 40px;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-prev {
  left: 0px;
}

button-next:after,
.swiper-button-prev:after {
  font-size: 14px;
}

button-prev:after,
.swiper-button-next:after {
  font-size: 14px;
}

.carousel-card {
  width: 275px;
  height: 430px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: rgb(253, 253, 253);
  border-radius: 10px;
}

.carousel-card button {
  width: 100%;
  background-color: var(--primary-blue);
  font-size: var(--text);
  border: none;
  font-family: var(--text);
  color: #ffffff;
  border-radius: 5px;
  padding: 7px 20px;
}

.carousel-card-title {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 40px;
  margin-bottom: 20px;
}

.carousel-card-title p {
  text-align: center;
  font-size: var(--text);
  font-family: var(--font-bold);
  color: var(--primary-gray);
}

.carousel-card-banner {
  display: flex;
  height: 44px;
  margin-bottom: 5px;
}

.carousel-card-pic img {
  max-height: 190px;
}

.carousel-card-pic {
  display: flex;
  justify-content: center;
  object-fit: contain;
  margin-bottom: 10px;
}

.carousel-card .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 3px 0px inset;
}

.carousel-card-price {
  color: var(--primary-blue);
  display: flex;
  justify-content: space-around;
}

.carousel-card .actions {
  display: flex;
  height: 24px;
}

.carousel-card h2 {
  display: flex;
  font-family: var(--font-bold);
  color: var(--primary-blue);
  line-height: 24px;
  margin: 0px;
}

.carousel-card h2 span {
  color: var(--primary-gray);
  text-decoration: line-through;
  font-family: var(--font-thin);
  font-size: 16px;
  margin-right: 5px;
}

.sale-info {
  display: flex;
  align-items: center;
  background-color: var(--gray-lighter);
  border-radius: 6px;
  text-align: center;
  padding: 5px;
  color: var(--primary-gray);
  font-size: var(--text);
}

/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 680px) {
  .swiper {
    width: 310px;
  }
}

@media only screen and (min-width: 681px) and (max-width: 991px) {
  .swiper {
    width: 650px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1319px) {
  .swiper {
    width: 960px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1320px) {
  .swiper {
    width: 1280px;
  }
}
